<?xml version="1.0" ?>
<config>
    <modules>
        <Ronisbt_Banners>
            <version>0.0.2</version>
        </Ronisbt_Banners>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ronisbtbanners>
                    <file>ronisbtbanners.xml</file>
                </ronisbtbanners>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ronisbtbanners module="ronisbtbanners">
                    <file>ronisbtbanners.xml</file>
                </ronisbtbanners>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ronisbtbanners after="Mage_Adminhtml">Ronisbt_Banners_Adminhtml</ronisbtbanners>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <ronisbtbanners>
                <class>Ronisbt_Banners_Model</class>
                <resourceModel>ronisbtbanners_resource</resourceModel>
            </ronisbtbanners>
            <ronisbtbanners_resource>
                <class>Ronisbt_Banners_Model_Resource</class>
                <entities>
                    <banners>
                        <table>ronisbt_banners_entities</table>
                    </banners>
                </entities>
            </ronisbtbanners_resource>
        </models>
        <resources>
            <ronisbtbanners_setup>
                <setup>
                    <module>Ronisbt_Banners</module>
                </setup>
            </ronisbtbanners_setup>
        </resources>
        <blocks>
            <ronisbtbanners>
                <class>Ronisbt_Banners_Block</class>
            </ronisbtbanners>
        </blocks>
        <helpers>
            <ronisbtbanners>
                <class>Ronisbt_Banners_Helper</class>
            </ronisbtbanners>
        </helpers>
    </global>
</config>