<?xml version="1.0"?>
<config>
    <tabs> 
        <banners module="ronisbtbanners">
            <label>RonisBT</label>
            <sort_order>1</sort_order>
        </banners>
    </tabs>
    <sections>
        <ronisbtbanners module="ronisbtbanners">
            <label>RonisBT Banners</label>
            <tab>banners</tab> 
            <frontend>text</frontend>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings module="ronisbtbanners">
                    <label>Settings</label>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_Website>1</show_in_Website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled module="ronisbtbanners">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type> 
                            <source_model>ronisbtbanners/source_status</source_model> 
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <comment>Is module enabled</comment>
                        </enabled>
                    </fields>
                </settings>
            </groups>
        </ronisbtbanners>
    </sections>
</config>